:root {
  --main-color-one: #0c2030;
  --main-color-two: #192833;
  --main-background: radial-gradient(
    circle,
    var(--main-color-two) 0%,
    var(--main-color-one) 100%
  );
  --secondary-color-one: #f3f2f2;
  --secondary-color-two: #dbd6d6;
  --secondary-background: radial-gradient(
    circle,
    var(--secondary-color-one) 0%,
    var(--secondary-color-two) 100%
  );
  --border-color: #040505;
  --icon-size: 1.5rem;
  --border-width: thin;
  --corner-curve: 0.2rem;
  --inner-curve-corner: 0.11rem;
  --removed: 0;
  --border-rad: var(--corner-curve) var(--corner-curve) var(--corner-curve)
    var(--corner-curve);
  --main-border: var(--border-width) solid var(--border-color);
  --module-visibility: none;
}

#webrice_container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5em;
  margin: 0rem;
}

.webrice_button {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--main-background);
  height: 100%;
  padding: 0.8em 1em;
  cursor: pointer;
}

.webrice_button:hover {
  background: var(--secondary-background);
}

.webrice_icon {
  fill: var(--secondary-color-one);
  height: var(--icon-size);
  width: var(--icon-size);
}

.webrice_button:hover svg,
.webrice_select_container:hover svg {
  fill: var(--main-color-one);
}

.webrice_select_container:hover .webrice_select {
  color: var(--main-color-one);
  background: var(--secondary-background);
}

.webrice_select {
  border: none;
  background: var(--main-background);
  color: var(--secondary-color-one);
  font-size: 1rem;
  cursor: pointer;
  height: 100%;
  padding-left: 2.5rem;
}

.webrice_select:focus-visible {
  outline: none;
}

.webrice_select option {
  border: none;
  background: var(--secondary-color-one);
  color: var(--main-color-one);
}

.webrice_select_icon {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);

  pointer-events: none;
}

.spinner {
  animation: spin 5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
